%div.chat-main
  %div.main-header
    %div.main-header__left-box
      %h2.main-header__left-box__current-group
        test
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__member-list__member
          Member：
        %li.main-header__left-box__member-list__member
          mike      
    = link_to "#" do
      %div.main-header__edit-btn
        Edit
  %div.messages
    %div.message
      %div.message__upper-info
        %p.message__upper-info__name
          Ryo
        %p.message__upper-info__date
          2020/01/11(Sat)
      %p.message__lwr-text
        投稿内容が入ります
    %div.message
      %div.message__upper-info
        %p.message__upper-info__name
          Mike
        %p.message__upper-info__date
          2020/01/12(Sun)
      %p.message__lwr-text
        投稿内容が入ります
  %div.form
    %form.new-message 
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit",value: "Send", class: "submit-btn"}