.message
  .message__upper-info
    %p.message__upper-info__name
      = message.user.name
    %p.message__upper-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__lwr-text
    - if message.content.present?
      %p.message__lwr-text__content
        = message.content
    = image_tag message.image.url, class: 'message__lwr-text__image' if message.image.present?